 <ion-tabs tabsPlacement="top">
  <ion-tab [root]="agentRoot" tabTitle="Agent" tabsHideOnSubPages="true"></ion-tab>
  <ion-tab [root]="managerRoot" tabTitle="Admin" tabsHideOnSubPages="true"></ion-tab>
</ion-tabs>



