<ion-header>
  <ion-navbar>
    <ion-title>
      Admin Dashboard
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-item-divider color="light">Agent1</ion-item-divider>
  <ion-item-group *ngFor="let client of clients">
    <ion-card>
       <ion-card-header>
         {{client.name}}
      </ion-card-header>
      <ion-card-content>
         <ion-grid>
           <ion-row>
             <ion-col>
               <div>{{client.location}}</div>
             </ion-col>
             <ion-col text-right>
              {{client.status}}
            </ion-col>
           </ion-row>
        </ion-grid>
      </ion-card-content>
     </ion-card>
  </ion-item-group> 


</ion-content>

