 <ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="logForm()">
  <ion-item>
    <ion-label floating>Username</ion-label>
    <ion-input type="email" [(ngModel)]="username" name="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
  </ion-item>


</form>
    <ion-footer>
      <div margin-left = '2' margin-right = '2'>
          <button ion-button large full (click)='login();'>Sign in</button>
        </div>
    </ion-footer>
</ion-content>