<ion-header>
  <ion-navbar>
    <ion-title>
      Add Client
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>

<form name="clientForm" (ngSubmit)="addClient()">
  <ion-item>
    <ion-label floating>Name</ion-label>
    <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Location</ion-label>
    <ion-input type="text" [(ngModel)]="location" name="location"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
  </ion-item>

   <ion-item>
    <ion-label floating>Duration (mins)</ion-label>
    <ion-input type="number" [(ngModel)]="duration" name="duration"></ion-input>
  </ion-item>

  <ion-item >
    <ion-label floating>Status</ion-label>
    <ion-select [(ngModel)]="status" name="status">
       <ion-option value="started">Started</ion-option>
       <ion-option value="inprogess">In Progess</ion-option>
       <ion-option value="completed">Completed</ion-option>
    </ion-select>
  </ion-item>

 <!--  <ion-item>
    <ion-label floating>Remarks</ion-label>
    <ion-input type="text" [(ngModel)]="remarks" name="remarks"></ion-input>
  </ion-item> -->
</form>

</ion-content>

<ion-footer>  
      <button ion-button full large (click)='addClient();'>Add Client</button>
</ion-footer>

